In [2]:
%matplotlib inline
import functions

# Set these parameters as you like and press "RUN"

# Company Stock Code
stock_code = "CPB"

# Market indices to compare with (https://sg.finance.yahoo.com/world-indices/)
market_indices = ["^STI", "^GSPC", "^DJI", "^IXIC", "^FTSE", "^N225", "^HSI"]

# Frequency of Sampling (daily = "D", weekly = "W", monthly = "M", yearly = "Y")
frequency = "W"

# Beginning Date of Data (to adjust time interval)
start_date = "1980-01-01"

df = functions.run(stock_code=stock_code, frequency=frequency, market_indices=market_indices, start_date=start_date)

[                       0%                       ]

[*********************100%***********************]  1 of 1 downloaded

[                       0%                       ]

[*********************100%***********************]  1 of 1 downloaded

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>price</th>
      <th>return</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>14025</th>
      <td>2018-08-10</td>
      <td>41.349998</td>
      <td>-0.021996</td>
    </tr>
    <tr>
      <th>14028</th>
      <td>2018-08-13</td>
      <td>41.509998</td>
      <td>0.003869</td>
    </tr>
    <tr>
      <th>14029</th>
      <td>2018-08-14</td>
      <td>41.750000</td>
      <td>0.005782</td>
    </tr>
    <tr>
      <th>14030</th>
      <td>2018-08-15</td>
      <td>42.349998</td>
      <td>0.014371</td>
    </tr>
    <tr>
      <th>14031</th>
      <td>2018-08-16</td>
      <td>42.029999</td>
      <td>-0.007556</td>
    </tr>
    <tr>
      <th>14032</th>
      <td>2018-08-17</td>
      <td>42.040001</td>
      <td>0.000238</td>
    </tr>
    <tr>
      <th>14035</th>
      <td>2018-08-20</td>
      <td>42.180000</td>
      <td>0.003330</td>
    </tr>
    <tr>
      <th>14036</th>
      <td>2018-08-21</td>
      <td>41.869999</td>
      <td>-0.007349</td>
    </tr>
    <tr>
      <th>14037</th>
      <td>2018-08-22</td>
      <td>41.209999</td>
      <td>-0.015763</td>
    </tr>
    <tr>
      <th>14038</th>
      <td>2018-08-23</td>
      <td>40.610001</td>
      <td>-0.014560</td>
    </tr>
    <tr>
      <th>14039</th>
      <td>2018-08-24</td>
      <td>40.680000</td>
      <td>0.001724</td>
    </tr>
    <tr>
      <th>14042</th>
      <td>2018-08-27</td>
      <td>40.700001</td>
      <td>0.000492</td>
    </tr>
    <tr>
      <th>14043</th>
      <td>2018-08-28</td>
      <td>39.830002</td>
      <td>-0.021376</td>
    </tr>
    <tr>
      <th>14044</th>
      <td>2018-08-29</td>
      <td>39.990002</td>
      <td>0.004017</td>
    </tr>
    <tr>
      <th>14045</th>
      <td>2018-08-30</td>
      <td>39.150002</td>
      <td>-0.021005</td>
    </tr>
    <tr>
      <th>14046</th>
      <td>2018-08-31</td>
      <td>39.450001</td>
      <td>0.007663</td>
    </tr>
    <tr>
      <th>14050</th>
      <td>2018-09-04</td>
      <td>39.689999</td>
      <td>0.006084</td>
    </tr>
    <tr>
      <th>14051</th>
      <td>2018-09-05</td>
      <td>39.860001</td>
      <td>0.004283</td>
    </tr>
    <tr>
      <th>14052</th>
      <td>2018-09-06</td>
      <td>40.049999</td>
      <td>0.004767</td>
    </tr>
    <tr>
      <th>14053</th>
      <td>2018-09-07</td>
      <td>40.220001</td>
      <td>0.004245</td>
    </tr>
  </tbody>
</table>
</div>

NameError: name 'monthly_data' is not defined